#cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}

/* -------------------- LOGO -------------------- */

.botao-logo {
  background: transparent;
  border: none;
  --text-stroke-color: rgba(255, 255, 255, 0.6);
  --animation-color: #37ff8b;
  font-size: 2em;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-stroke-color);
  position: relative;
  letter-spacing: 3px;
}
.texto-botao-hover {
  position: absolute;
  inset: 0;
  width: 0%;
  color: var(--animation-color);
  border-right: 4px solid var(--animation-color);
  overflow: hidden;
  transition: 0.4s;
  -webkit-text-stroke: 1px var(--animation-color);
}
.botao-logo:hover .texto-botao-hover {
  width: 100%;
  filter: drop-shadow(0 0 23px var(--animation-color));
}

/* -------------------- AÇÕES HEADER -------------------- */

.header-actions {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* -------------------- FILTRO -------------------- */

.filtro-wrapper {
  position: relative;
}

.btn-filtro {
  background: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 6px;
  transition: 0.2s;
}

.btn-filtro:hover {
  background: var(--hover);
}

/* Painel */

.painel-filtro {
  position: absolute;
  top: 45px;
  right: 0;

  display: flex;
  gap: 10px;
  padding: 10px;

  border-radius: 10px;
  border: 2px solid #333;
  background: #0c0c0c;

  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  transition: 0.2s;
}

.painel-filtro.active {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}

.painel-coluna {
  display: flex;
  flex-direction: column;
}

/* Botões filtro */

.filtro {
  padding: 10px 20px;
  background: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.2s;
}

.filtro:hover {
  background: var(--hover);
}

/* -------------------- SEARCH -------------------- */

.search-box {
  display: flex;
  align-items: center;
  background: #0d1110;
  border-radius: 12px;
  border: 1px solid #333;
  overflow: hidden;
}

.search-box input {
  border: none;
  outline: none;
  background: transparent;
  padding: 10px 15px;
  color: #fff;
  width: 200px;
}

.search-box button {
  background: #22c55e;
  border: none;
  color: #fff;
  padding: 10px 15px;
  cursor: pointer;
  transition: 0.3s;
}

.search-box button:hover {
  background: #16a34a;
}
