.steps {
  margin: 150px 40px;
  border: solid 1px #333;
  width: 40%;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.steps-container {
  width: 95%;
  margin: 25px auto;
  text-align: center;
}

.steps-cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.step-card {
  width: 25%;
  padding: 20px 10px;
  border: 1px solid #333;
  border-radius: 10px;
  background: transparent;
  transition: 0.3s;
}

.step-card:hover {
  transform: translateY(-5px);
  border-color: #fff;
}

.steps-line {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.steps-line::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 5%;
  width: 90%;
  height: 2px;
  background: #444;
  z-index: 0;
}

.step {
  position: relative;
  z-index: 1;
}

.step span {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  border: 1px solid #666;
  background: #0d0d0d;
}