* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --bg : #060706;
    --hover : #333;
    --bg-card : #111;
}

body {
    background-color: var(--bg);
    overflow-x: hidden;
}

#cabecalho {
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* LOGO ANIMADA */
.botao-logo {
    background: transparent;
    border: none;
    cursor: pointer;
    --text-stroke-color: rgba(255, 255, 255, 0.6);
    --animation-color: #37FF8B;
    font-size: 2em;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px var(--text-stroke-color);
    position: relative;
    letter-spacing: 3px;
}

.texto-botao-hover {
    position: absolute;
    color: var(--animation-color);
    width: 0%;
    inset: 0;
    border-right: 6px solid var(--animation-color);
    overflow: hidden;
    transition: 0.5s;
    -webkit-text-stroke: 1px var(--animation-color);
}

.botao-logo:hover .texto-botao-hover {
    width: 100%;
    filter: drop-shadow(0 0 23px var(--animation-color));
}

/* BOTAO FILTRO */
.btn-filtro{
    background: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 10px;
    border-radius: 7px;
    transition: 0.1s ease-in-out;
    margin-right: 15px;
}

.btn-filtro:hover{
    background: var(--hover);
}
/* PAINEL COM OS FILTROS */
.painel-filtro{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 60px;
    right: 125px;
    padding: 5px;
    border-radius: 10px;
    border: solid #333 3px;
    background: #0c0c0c;
    pointer-events: none; /* NAO DEIXA SER CLICADO QUANDO DESATIVADO */
    opacity: 0; /* DEIXA O PAINEL DESATIVADO */
    transform: translateY(-10px);
    transition: all 0.1s ease-in-out;
}

.painel-filtro.active {
  opacity: 1; /* ATIVA O PAINEL */
  transform: translateY(0);
  pointer-events: auto;
}

.painelcoluna1,
.painelcoluna2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.filtro {
    margin: 3px;
    padding: 12px 30px 12px 30px;
    background: transparent;
    width: 100%;
    color: #fff;
    border-radius: 4px;
    border: none;
}

.filtro:hover {
    background: var(--hover);
}

.nav-filtros{
    display: flex;
    align-items: center;
}

/* CAIXA DE TEXTO PARA FILTRO */
.search-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #0d1110;
    width: 300px;
    height: 45px;
    border-radius: 15px;
    border: solid #333 1px;
}

.search-box input {
    border: none;
    outline: none;
    background: transparent;
    padding: 15px;
    font-size: 14px;
    color: #fff;
}

.search-box button {
    background: #22c55e;
    border: none;
    color: #fff;
    padding: 12px 18px;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.3s;
    margin-right: 2px;
}

.search-box button:hover {
    background-color: #16a34a;
}


/* TEXTO CENTRAL DA PAGINA */
.txt-central {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 120px 0 60px 0;
}

.txt-maior {
    text-align: center;
    font-size: 60px;
    width: 820px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

.txt-menor {
    text-align: center;
    font-size: 0.8rem;
    color: #9b9b9b;
    width: 160px;
    font-family: Arial, Helvetica, sans-serif;
}

/* CARDS */
.cards {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    width: max-content;
}

.card {
    width: 270px;
    background: var(--bg-card);
    height: 220px;
    border-radius: 10px;
    flex-shrink: 0;
    padding: 20px;
}

.row-2 {
    transform: translateX(-80px);
}